<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>修改密码</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__styles/main.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__styles/common.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__styles/header.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__styles/footer.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__styles/change_password.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Admin/css/H-ui.css" />
	<!--<script type="text/javascript" src="__PUBLIC__scripts/jquery_1.11.3.min.js"></script>-->
	<script type="text/javascript" src="__ROOT__/Public/Admin/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__scripts/mod_scrollbar.js"></script>
	<script type="text/javascript" src="__PUBLIC__scripts/mod_sidebar_toggle.js"></script>
</head>
<body>
	<include file="Public/header" title="ThinkPHP框架" keywords="开源WEB开发框架" />
	<!-- __主体#content -->
	<div id="content" class="type1">
		<div class="main">
			<ul class="sidebar type2 ff_yh fs_14">
				<li class="banner ff_fz">
					<p class="cn">会员中心</p>
					<p class="en fs_14">Member Center</p>
				</li>
				<volist name="memberNav" id="item">
					<li class="entry">
						<p class="header order">{$item.name}</p>
						<ul class="sub_entry">
							<if condition="$item['children']">
								<volist name="item['children']" id="v">
									<li><a href="{:U($v['link'])}">{$v.name}</a></li>

								</volist>
								<else/>
								<p class="header trade"><a href="{:U($item['link'])}">交易管理</a></p>
							</if>

						</ul>
					</li>
				</volist>


				<if condition="$promo_pro">
					<li class="buy" style="background:url('__ROOT__{$promo_pro.img}') no-repeat 100%;"><a href="{:U('Product/product',array('id'=>$promo_pro['id']))}" title="热卖产品"></a></li>
				</if>
			</ul>

			<form action="" method="post" class="main_text ff_yh fs_14" id="form-content">
				<p class="current_location ff_fz">
					当前位置：
					<a href="memeber.html">会员中心</a>
					&gt;&gt;
					<a href="change_password.html" class="current">修改密码</a>
				</p>
				<h1 class="headline type2 fs_18">修改密码</h1>
				<input type="text" class="input text" placeholder="请输入您的帐户名" name="username" datatype="*" nullmsg="账户名不能为空"/>
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
				<input type="password" class="input text" placeholder="请输入密码" name="oldpassword"   datatype="*" nullmsg="账户名不能为空"/>
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
				<input type="password" class="input text" placeholder="请输入新密码" name="password"  datatype="*6-16" nullmsg="账户名不能为空"/>
				<span class="tip text fs_12">6-16位，数字，字母或符号组合</span>
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
				<input type="password" class="input text" placeholder="确认新密码"  datatype="*" nullmsg="密码不能为空" recheck="password" name="password1" errormsg="您两次输入的账号密码不一致！" />
				<span class="tip warning fs_12">&#x25c0; 确认新密码不能为空</span>
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
				<input type="text" class="input verify" placeholder="请输入验证码" name="verify"  datatype="*" nullmsg="账户名不能为空"/>
				<img src="{:U('verify')}" class="box"  id="verifySrc"/>
				<a href="javascript:verify();" class="refresh_verify" >看不清？</a>
				<span class="tip warning fs_12">&#x25c0; 验证码不能为空</span>
				<!-- 清除浮动样式 -->
				<div class="clear"></div>
				<input type="submit" value="保存修改" class="float_btn save ff_yh fs_14" />
				<input type="reset" value="返回" class="float_btn back ff_yh fs_14" />

				<!-- 清除浮动样式 -->
				<div class="clear"></div>
		
			</form>
			<!-- 清除浮动样式 -->
			<div class="clear"></div>
		</div>
	</div>
	<!-- //主体#content -->
	<!-- __底部#footer -->
	<include file="Public/footer" title="ThinkPHP框架" keywords="开源WEB开发框架" />
	<script type="text/javascript" src="__ROOT__/Public/Admin/lib/Validform/5.3.2/Validform.min.js"></script>
	<script>
		// 切换验证码图片
	function verify () {
		$("#verifySrc").attr("src",$("#verifySrc").attr("src")+"?"+Math.random());
	}
	// 登陆ajax
	  $("#form-content").Validform({
	      tiptype:2,
	      ajaxPost:true,
	      callback:function(form){
	            if(form.status=='y'){
	                setTimeout(function () {
	                    $.Hidemsg();	                    
	                    location.reload();//刷新窗口
	                   
	                },1000);
	            }else{
	            	verify();//更换验证码
	            }
	        }
	  });
	</script>
</body>
</html>