/* 内容区#content */
#content.type1 {
	width: 942px;
	margin: 0 auto;
	padding: 100px 140px;
}

/** 内容主体.main_text **/
#content .main .main_text {
	width: 664px;
}

#content .main .main_text .info_card {
	height: 153px;
	margin: 17px 24px 11px 0;
}

#content .main .main_text .info_card .img {
	float: left;
	width: 151px;
	height: 151px;
	margin-right: 22px;
	border: #dcdcdc 1px solid;
	border-radius: 7px;
}

#content .main .main_text .info_card .username {
	height: 39px;
	line-height: 39px;
	color: #692687;
}

#content .main .main_text .info_card .username span {
	color: #000;
}

#content .main .main_text .info_card .text {
	height: 47px;
	line-height: 47px;
	margin-bottom: 35px;
	color: #5c5c5c;
}

#content .main .main_text .info_card .search {
	height: 26px;
	text-align: right;
}

#content .main .main_text .info_card .search .input_box {
	width: 165px;
	height: 14px;
	line-height: 14px;
	padding: 5px;
	margin-right: 10px;
	border-top: #e0e0e0 2px outset;
	border-radius: 5px;
	background-color: #ededed;
	vertical-align: middle;
}

#content .main .main_text .info_card .search .search_button {
	height: 26px;
	vertical-align: middle;
}

#content .main .main_text .headline.type2 {
	background: url('../images/icons/cart.gif') no-repeat 11px center;
}

#content .main .main_text .item_list {
	margin: 28px 0 42px 0;
}

#content .main .main_text .item_list .item {
	padding-left: 18px;
}

#content .main .main_text .item_list .header {
	height: 35px;
	line-height: 35px;
	background-color: #f5ece0;
}

#content .main .main_text .item_list .header input {
	vertical-align: middle;
}

#content .main .main_text .item_list li.entry {
	margin-bottom: 18px;
	background-color: #fdfdf7;
}

#content .main .main_text .item_list li.entry .header {
	color: #4b4b4a;
}

#content .main .main_text .item_list li.entry .header .delete_this {
	float: right;
	width: 13px;
	height: 35px;
	margin: 0 32px;
	background: url('../images/icons/dustbin.gif') no-repeat center center;
}

#content .main .main_text .item_list li.action {
	height: 60px;
	line-height: 60px;
	color: #4b4b4a;
}

#content .main .main_text .item_list li.action input {
	margin-right: 6px;
	vertical-align: middle;
}

#content .main .main_text .item_list li.action a {
	display: inline-block;
	margin: 0 5px;
	color: #0f88d4;
}

#content .main .main_text .item_list li.action a:hover {
	text-decoration: underline;
}

#content .main .main_text .item_list .float {
	float: left;
	text-align: center;
}

#content .main .main_text .item_list li.entry .float {
	height: 88px;
	margin: 25px 0;
}

#content .main .main_text .item_list .float.name {
	width: 273px;
	text-align: left;
}

#content .main .main_text .item_list li.entry .float.name img {
	float: left;
	width: 81px;
	height: 82px;
	margin-right: 21px;
	padding: 3px;
	border-radius: 10px;
	background: url('../images/bg/favorite_dashline.jpg') no-repeat center center;
}

#content .main .main_text .item_list li.entry .float.name .title {
	height: 21px;
	line-height: 21px;
	margin-top: 23px;
	color: #010101;
}

#content .main .main_text .item_list li.entry .float.name .category {
	height: 21px;
	line-height: 21px;
	margin-bottom: 23px;
	color: #2f2e2e;
}

#content .main .main_text .item_list .float.price {
	width: 107px;
}

#content .main .main_text .item_list li.entry .float.price {
	line-height: 88px;
	color: #4b4b4a;
}

#content .main .main_text .item_list .float.amount {
	width: 76px;
}

#content .main .main_text .item_list li.entry .float.amount {
	line-height: 88px;
	color: #403e3f;
}

#content .main .main_text .item_list .float.total {
	width: 112px;
}

#content .main .main_text .item_list li.entry .float.total {
	line-height: 88px;
	color: #4b4b4a;
}

#content .main .main_text .item_list .float.actions {
	width: 77px;
}

#content .main .main_text .item_list li.entry .float.actions {
	height: 42px;
	line-height: 21px;
	padding: 23px 0;
	color: #4b4b4a;
}

#content .main .main_text .item_list li.entry .float.actions a {
	display: block;
	color: #4b4b4a;
}

#content .main .main_text .item_list li.entry .float.actions a:hover {
	text-decoration: underline;
}

#content .main .main_text .checkout_box {
	height: 56px;
	line-height: 56px;
	text-align: right;
}

#content .main .main_text .checkout_box .text {
	display: inline-block;
	margin-right: 12px;
	vertical-align: middle;
}

#content .main .main_text .checkout_box .text .number {
	color: #f00;
}

#content .main .main_text .checkout_box .checkout {
	width: 189px;
	height: 56px;
	line-height: 56px;
	font-size: 24px;
	color: #fffefe;
	background-color: #692587;
	cursor: pointer;
}
#content .main  .num_box {
	height: 18px;
	width: 66px;
	background-color: #ece9df;
}

#content .main input[type=number] {
	position: absolute;
	left: 18px;
	width: 28px;
	color: #010101;
	border-color: #a09f9a;
	border-width: 0 1px;
	border-style: none solid;
	background-color: transparent;
}

#content .main  .buttons li {
	width: 18px;
}

#content .main .buttons .minus {
	background: url('../images/icons/number_minus.gif') no-repeat center center;
}

#content .main .buttons .add {
	background: url('../images/icons/number_add.gif') no-repeat center center;
}