/* 内容区#content */
#content.type1 {
	width: 881px;
	margin: -336px auto 0;
	
}

/** 内容主体.main_text **/
#content .main .main_text {
	width: 603px;
}

#content .main .main_text .headline.type2 {
	margin: 7px 0 17px 0;
	background: url('../images/icons/lockfolder.gif') no-repeat left center;
}

#content .main .main_text .input {
	float: left;
	height: 23px;
	line-height: 23px;
	margin: 12px 0;
	padding: 5px;
	border: #dcdcdc 1px solid;
}

#content .main .main_text .input.text {
	width: 315px;
}

#content .main .main_text .input.verify {
	width: 90px;
	padding-right: 25px;
	background: url('../images/icons/phone.gif') no-repeat 100px center;
}

#content .main .main_text .box {
	float: left;
	width: 114px;
	height: 32px;
	margin: 13px 30px 14px 15px;
	border: #e1e1e1 1px solid;
}

#content .main .main_text .refresh_verify {
	float: left;
	height: 59px;
	line-height: 59px;
	color: #57a7ea;
}

#content .main .main_text .refresh_verify:hover {
	text-decoration: underline;
}

#content .main .main_text .tip {
	float: right;
	width: 264px;
	height: 59px;
	line-height: 59px;
}

#content .main .main_text .tip.text {
	color: #999;
}

#content .main .main_text .tip.warning {
	color: #dc3535;
}

#content .main .main_text .float_btn {
	float: left;
	height: 29px;
	line-height: 29px;
	margin-top: 33px;
	padding: 0 22px;
	text-align: center;
	border-radius: 2px;
}

#content .main .main_text .float_btn.save {
	margin-right: 15px;
	color: #fff;
	background-color: #784093;
}

#content .main .main_text .float_btn.back {
	color: #625d5d;
	background-color: #dcd9d4;
}